h1 {
  font-family: 'Cinzel', serif;
  color: rgb(227, 185, 122);
  font-size: 45px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Notica', sans-serif;
    color: #fff;
    letter-spacing: .5px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 60%;
    padding: 20px;
    border-radius: 1%;
    border: 1px solid rgb(227, 185, 122);
}

.title{
    color: rgb(227, 185, 122);
    font-size: 24px;
}

.info{
    height: auto;
    font-family: 'News Cycle', sans-serif;
    font-size: 17px;
    text-indent: 2em;
    padding: 15px;
}

.form-layout{
    font-family: 'News Cycle', sans-serif;
    font-size: 17px;
    width: 60%;

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    .subtitle{
        color: rgb(227, 185, 122);
        font-family: 'Cinzel', serif;
        font-size: 22px;
    }

    .grid{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 10px;
    }

    .checkbox {
        margin-right: 8px;
    }

    .checkbox:hover {
        cursor: pointer;
    }

    .button-row .checkbox{
        background-color: rgb(227, 185, 122);
        border: 2px solid white;
        border-radius: 5%;
        padding: 8px;
        font-size: 17px;
        font-style: italic;
    }

    .button-row{
        padding-top: 20px;
        grid-area: buttons;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .button-row .checkbox:hover{
        cursor: pointer;
    }
}

@media (max-width: 1370px) {
  .container {
    top: 55%;
    transform: translate(-50%, -50%);
    width: 60%;
  }
}

@media (max-width: 1140px) {
  .container {
    top: 70%;
    transform: translate(-50%, -50%);
    width: 60%;
  }
}

@media (max-width: 768px) {
  .container {
    top: 80%;
    transform: translate(-50%, -50%);
    width: 60%;
  }
}
