<div class="container">

  <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
 </p>
  <h1 class="title">Contact Information</h1>

  <div class="form-layout">
    <form action="#" method="post">

      <div>
        <label class="checkbox" for="name">Name:</label>
        <input class="checkbox" type="text" id="name" name="name" placeholder="Bob Bobbyton" required>

        <label class="checkbox" for="email">Email Address:</label>
        <input class="checkbox" type="email" id="email" name="email" placeholder="email@me.com" required>
      </div>

      <h2 class="subtitle">Catergories:</h2>

      <div class="grid">
        <label for="interest1"><input class="checkbox"type="checkbox" id="interest1" name="interests" value="Interest 1"> World News
          </label>
        <label for="interest2"><input class="checkbox" type="checkbox" id="interest2" name="interests" value="Interest 2"> U.S. News
          </label>
        <label for="interest3"><input class="checkbox" type="checkbox" id="interest3" name="interests" value="Interest 3"> Politics
          </label>
        <label for="interest4"><input class="checkbox" type="checkbox" id="interest4" name="interests" value="Interest 4"> Business
          </label>
        <label for="interest5"><input class="checkbox" type="checkbox" id="interest5" name="interests" value="Interest 5"> Science
          </label>
        <label for="interest6"><input class="checkbox" type="checkbox" id="interest6" name="interests" value="Interest 6"> Health
          </label>
        <label for="interest7"><input class="checkbox" type="checkbox" id="interest7" name="interests" value="Interest 7"> Sports
          </label>
        <label for="interest8"><input class="checkbox" type="checkbox" id="interest8" name="interests" value="Interest 8"> Gaming
          </label>
        <label for="interest9"><input class="checkbox" type="checkbox" id="interest9" name="interests" value="Interest 9"> Finance
          </label>
        <label for="interest10"><input class="checkbox" type="checkbox" id="interest10" name="interests" value="Interest 10"> Tech
          </label>
      </div>

      <div class="button-row">
        <button class="checkbox" type="submit">Subscribe</button>
        <button class="checkbox" type="submit">Unsubscribe</button>
        <button class="checkbox" type="reset">Reset</button>
      </div>

    </form>
  </div>

</div>
